// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

/* Сброс отступов и установка высоты для html и body */
html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Высота html и body равна 100% окна браузера */
}

/* Основной контейнер */
body {
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
}

main {
    height: 100%;
    margin: 0;
    padding: 0;
}


footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}